body {
    font-family: 'Poppins', sans-serif;
}
.box-icon {
    display: flex;
    height: 8vh;
    background-color: rgb(224, 115, 134);
}
    
.icon {
    margin: auto 10px;
    width: 2%;
}
    
.box-menu {
    background-color: rgb(255, 255, 255);
    height: 15vh;
    display: flex; 
    justify-content: space-around;  
    align-items: center;
} 
.logo {
    
    width: 40%;
}
h1 {
    color: rgb(172, 30, 136);
    font-size: 50px;
    font-weight: 500;
}   
    
.list-menu {
    width: 50%;
}
ul {
    display: flex;
    justify-content: space-between;
}
a {
    text-decoration: none;
} 
a:hover {
    text-decoration: overline;
}
    
    
li {
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 400;
} 
.home {
    color: rgb(185, 128, 5);
} 
.sobre {
    color: blueviolet;
} 
.projeto {
    color: brown;
} 
.contato {
    color: blue;
}
.box-borda {
    display: flex;
    margin-bottom: 50px;
}
.box1 {
    width: 25%;
    border-bottom: 2px solid brown;
}
.box2 {
    width: 25%;
    border-bottom: 2px solid purple;
}
.box3 {
    width: 25%;
    border-bottom: 2px solid blue;
}
.box4 {
    width: 25%;
    border-bottom: 2px solid rgb(185, 128, 5);
}
.foto-main {
    
    width: 100%;
} 
.titulo-sobre {
    margin-left: 10px;
    margin-top: 50px;
    color: rgb(22, 22, 22);
} 
    
    
.borda {
    margin-left: 10px;
    margin-top: 10px;
    width: 8%;
    border-bottom: 2px solid rgb(224, 115, 134);
}
    
.texto-sobre {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}  
    
    
.texto{
    width: 30%;
}  
.foto {
    width: 30%;
}
.titulo-professor {
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(22, 22, 22); 
    text-align: center;
}
.box-professor {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.borda-professor {
    margin-left: 10px;
    margin-top: 10px;
    width: 8%;
    border-bottom: 2px solid rgb(224, 115, 134);
}
.box-dad {
    margin-top: 40px;
    display: flex;
}
.box-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    
} 
.foto-perfil {
    border-radius: 100px;
    width: 40%;
} 
.box-projetos {
    margin-top: 50px;
    display: flex; 
    justify-content: space-evenly;
} 
.box-item {
    width: 20%;
    height: 40vh;
    background-color: rgb(221, 220, 220);
    border-radius: 10px;
}
    
    

    
    

    
    
    
